.page-main {
    align-items: center;
    flex-direction: column;
    display: flex;

    & .pfp {
        width: clamp(200px, 20%, 20%);
    }

    & .credits {
        font-size: xx-small;
    }

    & h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    & p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.socials {
    margin-top: 20px;

    .socials-links {
        display: flex;
    }
}

.socials-logo {
    width: 30px;
    height: 30px;
    margin: 2px;
}

.mastodon-logo {
    fill: black;

    &:hover {
        fill: hsl(204deg, 71%, 50%);
    }
}

.modrinth-logo {
    fill: black;

    &:hover {
        fill: hsl(145deg, 78%, 48%);
    }
}

.oomfs {
    display: flex;
    flex-direction: row;
}

.oomf {
    padding: 10px;
}

.oomf-img {
    transition: transform 0.3s ease;
    margin: 2px;
    max-width: 5rem;

    &:hover {
        transform: scale(1.1);
    }
}
